@use 'base/variables' as v;
@use 'base/mixins' as m;


.notavif.notwebp .header{
    background-image: linear-gradient( to right,transparentize(v.$primario,.1)0%,transparentize(v.$primario,.1)100%),url(/15-realState/build/img/header_bg.jpg);
}
.webp .header{
    background-image: linear-gradient( to right,transparentize(v.$primario,.1)0%,transparentize(v.$primario,.1)100%),url(/15-realState/build/img/header_bg.webp);
}
.avif .header{
    background-image: linear-gradient( to right,transparentize(v.$primario,.1)0%,transparentize(v.$primario,.1)100%),url(/15-realState/build/img/header_bg.avif);
}
.header{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0;
    position: relative;
    @include m.tablet{  
        padding: 3rem 0 20rem 0;
    }
    &__barra{
        display: flex;
        flex-direction: column;
        @include m.tablet{  
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__logo{
        width: 25rem;
        margin: 0 auto;
        @include m.tablet{  
            margin: 0;
        }
    }
    &__contenido{
        max-width: 50rem;
    }
    &__heading{
        margin-top: 15rem;
        color: v.$blanco;
        text-align: center;
        @include m.tablet{  
            text-align: left;
        }
    }
    &__texto,&__imagen{
        display: none;
        @include m.tablet{display: block;}
    }
    &__texto{
        color: v.$blanco;
        font-size: 2rem;
    } 
    &__imagen{
        position: absolute;
        right: 0;
        bottom: -5rem;
        max-width: 35rem;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 5rem;
        @include m.desktopXL{  
            max-width: 60rem;
        }
    }
}